@tailwind base;
@tailwind components;
@tailwind utilities;
@layer utilities {
    .animation-delay-2000 {
        animation-delay: 1000ms;
    }

        .animation-init {
            width: 550px !important;
            transition: width 2s ease-in-out;
        }

        .animation-exit {
            transition: width 1s ease;
            width: 430px;
        }

    @media screen and (max-width: 1536px) {
        .animation-init {
            width: 450px !important;
        }

        .animation-exit {
            width: 370px;
        }   
    }

    @media screen and (max-width: 1280px) {
        .animation-init {
            width: unset !important;
        }

        .animation-exit {
            width: unset !important;
        }   
        
    }

    .order-list {
        transition: background-color 0.4s ease,
                    opacity 0.4s ease-in-out;
    }

    .list-content {
        transition: opacity 0.4s ease-in-out;
    }

    .display-transition {
        animation: button-opened-rotate 0.4s ease-in-out forwards;
        transition: opacity 2s;
    }
    
    .animate-button {
        animation: button-rotate 0.4s ease-in forwards;
    }

    .animation-spin {
        animation: spin 60s linear infinite;
    }

    .marquee-animation {
        animation: marquee 20s linear infinite;
    }

    .append-child {
        transition: opacity 1.4s ease,
                    transform 1s ease;
    }

    .h-transition {
        transition: height 0.4s ease-in-out;
    }

    .floating-animation {
        animation: floating 2.5s ease-in-out infinite;
    }

    .floating-delay-1000 {
        animation-delay: 1s;
    }

    .floating-animation-2 {
        animation: floating-2 3s ease-in-out infinite;
    }

    .float-animation-mobile {
        animation: floating-mobile 3s ease-in-out infinite;
    }

    .float-animation-mobile-2 {
        animation: floating-mobile-2 2.5s ease-in-out infinite;
    }
}

@keyframes floating {
    0% {
      transform: translateY(0) scale(1);
    }
    50% {
      transform: translateY(20px) scale(.9);
    }
    100% {
      transform: translateY(0) scale(1);
    }
}

@keyframes floating-2 {
    0% {
      transform: translateY(0) scale(1);
    }
    50% {
      transform: translateY(-20px) scale(1.1);
    }
    100% {
      transform: translateY(0) scale(1);
    }
}

@keyframes floating-mobile {
    0% {
      transform: translateY(0) scale(1);
    }
    50% {
      transform: translateY(-20px) scale(1.1);
    }
    100% {
      transform: translateY(0) scale(1);
    }
}

@keyframes floating-mobile-2 {
    0% {
      transform: translateY(0) scale(1);
    }
    50% {
      transform: translateY(20px) scale(.9);
    }
    100% {
      transform: translateY(0) scale(1);
    }
}

html {
    scroll-behavior: smooth;
    scrollbar-width: none; /* Para Firefox */
    -ms-overflow-style: none;  /* Para Internet Explorer y Edge */
}

body::-webkit-scrollbar {
    display: none; /* Para Chrome, Safari y Opera */
}

body {
    background-color: black;
    color: white;
    font-family: 'Archivo Expanded', sans-serif;
}

.swiper {
    width: 100%;
    height: 100%;
    color: black;
}
  
.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
  
    /* Center slide text vertically */
    display: flex;
    justify-content: center;
    align-items: center;
}

@keyframes button-rotate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(-45deg);
    }
    
}

@keyframes button-opened-rotate {
    0% {
        transform: rotate(90deg);
    }

    100% {
        transform: rotate(0deg);
    }
    
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes marquee {
    0% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(-100%);
    }
}