@tailwind base;
@tailwind components;
@tailwind utilities;
@layer utilities {
    .animation-delay-2000 {
        animation-delay: 1000ms;
    }

    .animation-init {
        width: 540px !important;
        transition: width 2s ease-in-out;
    }

    .animation-exit {
        transition: width 1s ease;
        width: 370px;
    }

    @media screen and (min-width: 1760px) {
        .animation-init {
            width: 600px !important;
        }

        .animation-exit {
            width: 430px;
        }
        
    }

    .order-list {
        transition: background-color 0.4s ease,
                    opacity 0.4s ease-in-out;
    }

    .list-content {
        transition: opacity 0.4s ease-in-out;
    }

    .display-transition {
        animation: button-opened-rotate 0.7s ease-in-out forwards;
        transition: opacity 2s;
    }
    
    .animate-button {
        animation: button-rotate 0.4s ease-in forwards;
    }

    .animation-spin {
        animation: spin 60s linear infinite;
    }

    .marquee-animation {
        animation: marquee 20s linear infinite;
    }
}

html {
    scroll-behavior: smooth;
    scrollbar-width: none; /* Para Firefox */
    -ms-overflow-style: none;  /* Para Internet Explorer y Edge */
}

body::-webkit-scrollbar {
    display: none; /* Para Chrome, Safari y Opera */
}

body {
    background-color: black;
    color: white;
    font-family: 'Archivo Expanded', sans-serif;
}

.swiper {
    width: 100%;
    height: 100%;
    color: black;
}
  
.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
  
    /* Center slide text vertically */
    display: flex;
    justify-content: center;
    align-items: center;
}

@keyframes button-rotate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(-45deg);
    }
    
}

@keyframes button-opened-rotate {
    0% {
        transform: rotate(70deg);
    }

    100% {
        transform: rotate(0deg);
    }
    
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes marquee {
    0% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(-100%);
    }
}